.MiniProfileContainer {
    display: flex;
    padding: 1rem;
}

.MiniProfileImageContainer {
    margin-right: 2rem;
}

.MiniProfileDescContainer {
    padding: 1rem;
}

.Links {
    display: flex;
    padding: 0;
}

.Link {
    margin: 1rem;
}